.box1{
    background-color: orange;
    width: 200px;
    height: 200px;
}

.box2{
    background-color: skyblue;
    height: 50%;
    width: 50%;
    /* border-top: 2px solid blue;
    border-bottom: 2px solid blue; */
    border: 2px solid blue;
    border-radius: 10px;
}


.box3{
    background-color: tomato;
}