.box1{
    background-color: orange;
    width: 200px;
    height: 200px;
}

.box2{
    background-color: skyblue;
    height: 50%;
    width: 50%;

}


.box3{
    background-color: tomato;
    /* display: inline-block; */
    display: none;
    width: 100px;
}